html, body {
    height: 100%;
    margin: 0;
    background: rgb(34,68,214);
    background: linear-gradient(0deg, rgba(51,47,170,1) 0%, rgba(0,212,255,1) 100%);
  }

.Manual{
    position: absolute;
    right: 1%;
    top: 1%;
    width: 70px;
    height: 70px;
    background-image: url("../img/btnManual.png");
    background-size: 70px 70px;
    border-radius: 10px;
}

.Reset{
    position: absolute;
    right: 1%;
    top: 10%;
    width: 70px;
    height: 70px;
    background-image: url("../img/btnReset.png");
    background-size: 70px 70px;
    border-radius: 10px;
}

.serial{
    position: absolute;
    color:white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
    z-index: 2;
    left: 2%;
  
}
#tesla{
    position: absolute;
    left: 3%; 
    bottom: 3%;
    width: 70px;
    height: 70px;
}
#sanmina{
    position: absolute;
    right: 3%;
    bottom: 3%;
    width: 70px;
    height: 70px;
}
#nombre{
    position: absolute;
    right: 8%;
    bottom: 5%;
    height: 30px;
}
.contenedor{
    flex-direction: column;
    height: 80vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.tarjeta{
    padding: 2px;
    width: 1400px;
    height: 300px;
    background-color: white;
    border-radius: 40px;
    bottom: 2%;
    top:12%;
    box-shadow: 16px 14px 20px #000000c8;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.tarjeta::before{
    content: "";
    position: absolute;
    width: 1400px;
    height: 1500px;
    background-image: conic-gradient(#3fd6fc 10deg, transparent 90deg,#3fd6fc 210deg, transparent 230deg);
    animation: rotar 1.5s linear infinite;

}
.tarjeta::after{
    content: "";
    position: absolute;
    width: 1380px;
    height: 290px;
    background-color: white;
    border-radius: 40px;
}
#wait{
    position: absolute;
    width: 498px;
    height: 498px;
    bottom: calc(31%);
    left: calc(38%);
    z-index: 3;
}
.capturedCanvas{
    background-color: white;
    z-index: 2;
    border-radius: 40px;
}
.tarjeta2{
    z-index: 1;
    width: 1390px;
    height: 290px;
    background-color: white;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.tarjeta2 canvas{
    background-color: black;
    background-image: url("../img/placeHolder.png");
    margin: 8px 8px 4px 8px;

    box-shadow: 10px 20px 30px rgba(96, 95, 99, 0.75);
    border-radius: 25px;
}
.tarjeta2 canvasCutDiv{
    background-color: white;
    margin: 20px;
    border-radius: 25px;
}
.tarjeta2 div{
    background-color: #3fd6fc;
    margin: 20px;
    border-radius: 25px;
    
}
