
body{
    background-image: url("../img/fondo.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}


#tesla {
    position: absolute;
    width: calc(5%);
    height: calc(10%);
    bottom: calc(80%);
    left: calc(45%);

    border-radius: 10px;

}

.botonmanual{
    position: absolute;
   
   width: 200px;
   height: 50px;
    bottom: calc(89%);
    left: calc(90%);
    border-radius: 10px;
    background-color: rgb(206, 208, 231);
    color: aliceblue;
    text-decoration: none;
}

#canvasCamara{
    top: calc(60%);
    left: calc(43%);
}
.contenedor{
    height: 80vh;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.tarjeta{
    width: 1200px;
    height: 580px;
    background-color: #101010;
    border-radius: 10%;
    bottom: 2%;
    top:12%;
    box-shadow: 16px 14px 20px #000000c8;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.tarjeta::before{
    content: "";
    position: absolute;
    width: 1300px;
    height: 1500px;
    background-image: conic-gradient(#3fd6fc 10deg, transparent 90deg,#00eeff 210deg, transparent 230deg);
    animation: rotar 1.5s linear infinite;

}
.tarjeta::after{
    content: "";
    position: absolute;
    width: 1185px;
    height: 565px;
    background-color: #101010;
    border-radius: 10%;
}
#wait{
    position: absolute;
    width: 498px;
    height: 498px;
    bottom: calc(31%);
    left: calc(38%);
    z-index: 3;
}
.capturedCanvas{
    background-color: white;
    z-index: 2;
    border-radius: 10%;
}
.tarjeta2{
    z-index: 1;
    width: 1200px;
    height: 580px;
    background-color: transparent;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

